.gradle
/local.properties
.DS_Store
/build

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/gradle.xml
*.iml
local.properties
/.idea/vcs.xml
/.idea/runConfigurations.xml
/.idea/misc.xml
/.idea/jarRepositories.xml
/.idea/compiler.xml
